body {
    background-color: whitesmoke; }
H1 {
    font-style: italic;
    text-align: center;
}
H2 {
    text-align: right;
    background-color: burlywood;
}
special {
    text-shadow: chocolate;
    font-style: italic;
    background-color: coral;
}
P {
    background-color: rgb(243, 240, 39);
}

footer {
    font-style: italic;
}
section {
    align-items: center;
}